# Lets try not to include copyrighted content in the source repo, yeah?
cleanROM/**
Digimon Rumble Arena (US)/**
Digimon Rumble Arena (US).**
Digimon Rumble Arena (USA)/**
Digimon Rumble Arena (USA).**
DigimonTamers - Battle Evolution (Japan).**
DigimonTamers - Battle Evolution (Japan)/**
TrueOG.bin
TrueOG.cue
